@import url(https://fonts.googleapis.com/css?family=Work+Sans:300,600);

body {
	font-size: 20px;
	font-family: 'Roboto Condensed', sans-serif;
}

h1 {
  margin: 0px;
  padding: 10px;
  font-size: 30px;
  color: #fff;
}

h2 {
  margin: 0px;
  padding: 10px;
  font-size: 20px;
  background-color: #444;
  color: #fff;
}

.question {
  font-size: 15px;
  margin-bottom: 10px;
  /*font-weight: bold;*/
}

.answers {
  margin-bottom: 20px;
  font-size: 10px;
  text-align: left;
  display: inline-block;
  font-weight: lighter;
}

.answers label {
  display: block;
  margin-bottom: 10px;
  font-weight: lighter;
}

button {
  font-family: 'Work Sans', sans-serif;
  font-size: 22px;
  background-color: #279;
  color: #fff;
  border: 0px;
  border-radius: 3px;
  padding: 20px;
  cursor: pointer;
  margin-bottom: 20px;
}

button:hover {
  background-color: #38a;
}

.slide {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s;
}

.active-slide {
  opacity: 1;
  z-index: 2;
}

.quiz-container {
  position: relative;
  height: 200px;
  margin-top: 40px;
}

.presentation-container {
  position: relative;
  height: 300px;
  margin: auto;
  width: 80%;
  font-weight: lighter;
}

.presentation {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s;
}

.active-presentation{
  opacity: 1;
  z-index: 2;
}

.title {
  font-size: 30px;
  margin-bottom: 10px;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: left;
}

.footer-header{
	color: #1400ff;
	/*font-family: 'Muli-Regular', Muli;*/
	margin-left: 80px;
	font-weight: bold;
	font-family: 'Roboto Condensed', sans-serif;
}

.navbar{
	background-color: #2196f3;
	border-radius: 0px;
	height: 70px;
}

.navbar-brand{
	color: white;
	font-size: 50px;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: bold;
	text-shadow: 2px 2px #000;
	margin-top: 5px;
}
.navbar-brand2{
	color: white;
	padding-top: 25px;
	font-size: 20px;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: lighter;
}

.glyphicon{
	padding-top: 15px;
	font-size: 30px;
}
.glyphicon{
	padding-top: 15px;
	font-size: 30px;
}

.navbar-brand3{
	color: white;
	font-size: 30px;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: lighter;
	margin-left: 10px;
}
.navbar-brand3:hover{
	color: black;
}


.col-md-2 {
	background-color: #2196f3;
	border-radius: 0px;
	color: white;
	font-family: 'Roboto Condensed', sans-serif;
}

.glyphicon {
	color: white;
}

.glyphicon:hover {
	color: black;
}


.col-md-6 {
	background: #fff;
	border-radius: 2px;
	height: 350px;
	margin: 1rem;
	width: 45%;
}

.card-3 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}




/* MAIN PAGE CSS */
.main-view{
	margin-top: 50px;
	text-align: center;
}
.project-title {
	color: #2196f3;
	font-size: 70px;
	font-weight: bold;
	text-shadow: 1px 1px #000;
}
.project-description {
	color: #2196f3;
	font-size: 25px;
	font-weight: lighter;
}
.input1{
	margin-top: 50px;
	height: 60px;
	border-radius: 10px;
	border-width: 1px;
	padding: 10px;
	width: 40%;
}
.input1::-webkit-input-placeholder { /* WebKit browsers */
@include default-placeholder-text;
font-style: italic;
	color: #2196f3
}
.input1::-moz-placeholder { /* Mozilla Firefox 19+ */
@include default-placeholder-text;
font-style: italic;
	color: #2196f3
}
.pretty-button {
	margin-top: 30px;
	background-color:#2196f3;
	border-radius: 50px;
	display:inline-block;
	color:#ffffff;
	padding: 15px 100px;
	text-shadow:0px 1px 0px #2f6627;
}
